<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil del Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="perfil-usuario">
  <div class="perfil-avatar">
    <ion-icon name="person-circle-outline" size="large"></ion-icon>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email:</ion-label>
      <ion-input type="email" value="ma.bellor@duocuc.com" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña:</ion-label>
      <ion-input type="password" value="contraseña" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número de Teléfono:</ion-label>
      <ion-input type="tel" value="+569 66937212" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dirección:</ion-label>
      <ion-input type="text" value="Calle Falsa 123, Chile" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo de Usuario:</ion-label>
      <ion-input type="text" value="Pasajero" readonly></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
