<ion-header>
  <ion-toolbar>
    <ion-title>
      Crea tu Viaje 
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- -->
<ion-content class="ion-padding">
  <ion-card class="custom-card">
    <ion-card-content>
      <ion-item class="custom-item">
        <ion-label position="floating">¿DÓNDE VIAJAS?</ion-label>
        <ion-input class="custom-input" [(ngModel)]="destino" type="text"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Fecha</ion-label>
        <ion-datetime class="custom-input" [(ngModel)]="fecha" displayFormat="MMM DD, YYYY HH:mm" min="{{minDate}}"></ion-datetime>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Asientos Disponibles</ion-label>
        <ion-input class="custom-input" [(ngModel)]="asientosDisponibles" required disabled type="number"></ion-input>
      </ion-item>

      <ion-button class="custom-button" expand="full" (click)="realizarCompra()">Crear Viaje</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
