
<ion-header>
    <ion-toolbar>
        <ion-title>Iniciar Sesión</ion-title>
        <ion-buttons slot="start">
        <ion-back-button default-href="register"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<body>
   <br>
    <br>
    <br>
    <br>
    <form (ngSubmit)="iniciarSesion()">
  <ion-input type="email" [(ngModel)]="registroUsuario.email" name="email" placeholder="Email" required></ion-input>
  <ion-input type="password" [(ngModel)]="registroUsuario.password" name="password" placeholder="Contraseña" required></ion-input>
    <br> 
    <br>
    <ion-button type="submit">Iniciar Sesión</ion-button>
    <br>
    <br>
    <br>
    <ion-button (click)="irARegistro()">Registrarse</ion-button>
</form>
</body>
