body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 5px; /* Valor de padding reducido aún más */
    display: flex;
    justify-content: center;
}

form {
    background-color: white;
    padding: 3px; /* Valor de padding reducido aún más */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;

    label {
        display: block;
        margin-top: 5px; /* Valor de margin reducido aún más */
        font-weight: bold;
    }
}

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="radio"] {
    width: 100%;
    padding: 1px; /* Valor de padding reducido aún más */
    margin-top: 1px; /* Valor de margin reducido aún más */
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;

    &:focus {
        outline: none;
        border-color: #007bff;
    }
}

input[type="submit"] {
    width: 100%;
    padding: 2px; /* Valor de padding reducido aún más */
    margin-top: 5px; /* Valor de margin reducido aún más */
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #333;
    }
}

input[type="radio"] {
    width: auto;
}

.radio-label {
    margin-right: 5px; /* Valor de margin reducido aún más */
}
